@model IEnumerable<AllOrdersListingModel>
@{
    ViewData["Title"] = "All";
}

<h2>All Orders </h2>

<h3 style="color:lightgreen">@TempData["SuccessDelete"]</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Part</th>
            <th scope="col">Quantity</th>
            <th scope="col">Adress</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>

    @foreach (var order in Model)
    {
        <tbody>
            <tr class="table-active">
                <td>@order.User.FirstName @order.User.LastName</td>
                <td>@order.Part.Name</td>
                <td>@order.Quantity</td>
                <td>@order.Address</td>
                <td>@order.TotalPrice</td>


                <td><a asp-controller="Orders" asp-action="Deliver" asp-route-Id=@order.Id  class="btn btn-warning">Deliver</a></td>
                
            </tr>
        </tbody>
    }
</table>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
